body{
	/*addes background image*/
	background-image: url(https://ununsplash.imgix.net/photo-1415226194219-638f50c5d25f?q=75&fm=jpg&s=f6023ef5a263558b47f4bacc775bfc88);
}

.header-cont {
    width:100%;
    position:fixed;
    top:0px;
}
.header {
    height:50px;
    border:1px solid #CCC;
    width:960px;
    margin:0px auto;
}
.content {
    width:960px;
    border: 1px solid #CCC;
    height: 2000px;
    margin: 70px auto;
}


/*media query/ mobile responsive line of code for iphone 5*/
@media (min-device-width: 320px) and (max-device-width: 480px){
	body{
		background-image: 100%;
		background-color: blue;
	}
}
/* media query/ mobile responsive line of code for ipad*/
@media (min-device-width: 768px) and (max-device-width: 1024px){
	body{
		background-image: 100%;
		background-color: yellow;
	}
}