body{
	/*addes background image*/
	background-image: url(https://ununsplash.imgix.net/photo-1415226194219-638f50c5d25f?q=75&fm=jpg&s=f6023ef5a263558b47f4bacc775bfc88);
}
/*media makes the website mobile responsive*/
@media (min-width: 320px) and (max-width: 480px) {
	body{
		width:100%;
		background-color: lime;
	}
}